{% extends "base.html" %}
{% load static %} 

{% block contenido %}

<head>
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    
</head>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>CONTACTANOS!</h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Contactanos</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

  {% if user.is_authenticated %}
<form method='post' class="form-control form-group d-flex justify-content-center">


    <div class="col-md-6 form-group mt-3 mt-md-0">
    {% csrf_token %}
    {{ form.as_div }}
    <br>
    <button class="btn-get-started" type="submit">ENVIAR</button>
    </div>
</form>
  {% else %}
  <div class="col-md-6 form-group mt-3 mt-md-0">
    <h3>Autentiquese para poder acceder al formulario de contactos</h3>
    <a href="{% url 'login' %}" class="btn-get-started" type="submit">Inicie Sesión</a>
    <a href="{% url 'registro' %}" class="btn-get-started" type="submit">Registrese</a>
  </div>
  {%endif%}


{{ mensaje }}

{% endblock contenido %}