{% extends 'en/baseEn.html' %}
{% load static %}
{% block titulo %} Quienes Somos {% endblock titulo %}
{% block estilos %}
<link rel="stylesheet" href='{% static "css/about.css" %}'>

{% endblock estilos %}

{% block contenido %}
    <section class="section hero">
        <h1 class="mx-auto d-flex">About us?</h1>
        <div class="card  mx-auto" >
            <div class="row mx-0 mx-md-auto">
              <div class="col-md-4">
                <img src="{% static 'img/hero-banner.jpg' %}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body m-0 p-0">                  
                  <p class="card-text fw-semibold"><span class="span_gradient" style="display: inline-block">Cotton SP</span> is a brand that focuses on developing <span class="span_gradient" style="display: inline-block"> high-quality software solutions</span> is a brand that focuses on developing high-quality and innovative software solutions in a sustainable manner, with the purpose of improving the quality of life and contributing to social well-being.
                    <br>
                    Cotton SP's unique value proposition is based on its focus on soft skills, agile methodologies and sustainable development goals, as well as its commitment to social responsibility. They also differentiate themselves from the competition by their focus on <span class="span_gradient" style="display: inline-block">flexibility and adaptability</span>. Allowing us to offer personalized solutions tailored to the specific needs of each client.
                    </p>
                </div>
              </div>
            </div>
          </div>
    </section>
    <section>
        <h3 class="mx-auto d-flex text-center">Our team</h3>
        <div class=" row w-75 mx-auto justify-content-around">            
            <div class=" card col-md-3 bg-transparent border-0 m-2">
                <img src="{% static 'img/equipo/lucas.jpg' %}"
                    class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="..." height="540px" width="540px" >
                <div class="card-body">
                    <h5 class="card-title">NOMBRE</h5>
                    <p class="card-text">Desarrollador Full Stack. Actualmente trabajando en
                        Desarrollo de Software</p>
                    <div class="text-center">
                        <a href="" class="btn btn-primary"><img
                                src="{% static 'img/linkedin.svg' %}" alt=""> </a>                        
                    </div>
                </div>
            </div>
            <div class=" card col-md-3 bg-transparent border-0 m-2">
                <img src="{% static 'img/equipo/' %}"
                    class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="..." height="540px" width="540px" >
                <div class="card-body">
                    <h5 class="card-title">NOMBRE</h5>
                    <p class="card-text">Desarrollador Full Stack. Actualmente trabajando en
                        Desarrollo de Software</p>
                    <div class="text-center">
                        <a href="" class="btn btn-primary"><img
                                src="{% static 'img/linkedin.svg' %}" alt=""> </a>                        
                    </div>
                </div>
            </div>
            <div class=" card col-md-3 bg-transparent border-0 m-2">
                <img src="{% static 'img/equipo/' %}"
                    class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="..." height="540px" width="540px" >
                <div class="card-body">
                    <h5 class="card-title">NOMBRE</h5>
                    <p class="card-text">Desarrollador Full Stack. Actualmente trabajando en
                        Desarrollo de Software</p>
                    <div class="text-center">
                        <a href="" class="btn btn-primary"><img
                                src="{% static 'img/linkedin.svg' %}" alt=""> </a>                        
                    </div>
                </div>
            </div>            
        </div>
        
    </section>
{% endblock contenido %}