{% extends 'base.html' %}
{% load static %}

{% block contenido %}

    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/detalle.css' %}">
        <!-- Vendor CSS Files -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="vendor/aos/aos.css" rel="stylesheet">
        <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    </head>

<section>

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <nav>
          <div class="container">
            <ol>
              <li><a href="{% url 'noticias:listar' %}">Noticias</a></li>
              <li>Blog Details</li>
            </ol>
          </div>
        </nav>
      </div><!-- End Breadcrumbs -->

      <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row g-5">
  
            <div class="col-lg-8">
  
              <article class="blog-details">
  
                <div class="post-img">
                  <img src="{{ noticia.imagen.url }}" alt="" class="img-fluid">
                </div>
  
                <h2 class="title"> {{noticia.titulo}} </h2>
  
                <div class="meta-top">
                  <ul>
                    {% comment %} <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html"> {{noticia.author}} </a></li> {% endcomment %}
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">{{ noticia.fecha_de_publicacion }}</time></a></li>
                  </ul>
                </div><!-- End meta top -->
  
                <div class="content">
                  <p>
                    {{ noticia.contenido }}
                  </p>
                </div><!-- End post content -->
  
                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <a href="/noticias/categoria/{{ noticia.categoria_noticia }}">{{ noticia.categoria_noticia }}</a>

                  </ul>
              </article><!-- End blog post -->

            </section>
  

    <script src="{% static 'js/all.js' %}"></script>
{% endblock contenido %}



