{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block titulo %}{% trans "DETALLE" %}{% endblock titulo %}
{% block estilos %}
<link rel="stylesheet" href="{% static 'css/detalle.css' %}">
{% endblock estilos %}
{% block contenido %}

    

<section>

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <nav>
          <div class="container">
            <ol>
              <li><a href="{% url 'noticias:listar' %}">{% trans "Noticias " %}</a></li>
              <li>{% trans "Detalle de la noticia" %}</li> 
            </ol>
          </div>
        </nav>
      </div><!-- End Breadcrumbs -->

      <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row g-5">
  
            <div class="col-lg-14">
  
              <article class="blog-details">
  
                <div class="post-img">
                  <img src="{{ noticia.imagen.url }}" alt="" class="img-fluid" loading="lazy">
                </div>
  
                <h2 class="title"> {{noticia.titulo}} </h2>
  
                <div class="meta-top">
                  <ul>
                    {% comment %} <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html"> {{noticia.author}} </a></li> {% endcomment %}
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2020-01-01">{{ noticia.fecha_de_publicacion }}</time></a></li>
                  </ul>
                </div><!-- End meta top -->
  
                <div class="content">
                  <p>
                    {{ noticia.contenido | safe | linebreaksbr }}
                  </p>
                </div><!-- End post content -->
  
              </article><!-- End blog post -->

            </section>
  

    <script src="{% static 'js/all.js' %}"></script>
{% endblock contenido %}



