{% extends 'base.html' %}
{% load static %}

{% block titulo %}Editar Noticia{% endblock titulo %}

{% block contenido %}
<section class="section hero">
    <div class='container d-block'>
    <h2>Edita la noticia</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class='btn rounded-4'>Guardar cambios</button>
        <a href="{% url 'admin_panel' %}" class="btn btn-secondary">Cancelar</a>
    </form>
    </div>
</section>
{% endblock contenido %}
