{% extends 'base.html' %}
{% load static %}
{% block titulo %}NOTICIAS{% endblock titulo %}
{% block contenido %}
<head>
    <link rel="stylesheet" href="{% static 'css/listar.css' %}">

</head>

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center" style="background-image: url('');">
              <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-6 text-center">
                    <h2>Noticias</h2>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Breadcrumbs -->
      
          <!-- ======= Blog Section ======= -->

          <div class="submenu ">
            <div class="d-flex align-items-center">
              <button class="btn btn-secondary">Categorías</button>
              <div class="ml-2 movi">
                <a href="{% url 'noticias:listar' %}" class="text-buttons text-decoration-none">Todas las noticias</a>
                {% for cat in categorias %}
                  <a class="text-decoration-none" href="?categoria={{ cat.pk }}">{{ cat.nombre }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
          </div>
          </div>

          



          <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
        
                <div class="row gy-4 posts-list">
                    {% for noti in noticias %}
                        <div class="col-xl-4 col-md-6">
                            <a href="{% url 'noticias:detalle' noti.pk %}" class="article-link title text-decoration-none" >  <article>
                                    <div class="post-img">
                                        {% if noti.imagen %}
                                            <img src="{{ noti.imagen.url }}" alt="" class="img-fluid">
                                        {% endif %}
                                    </div>
                                    <p class="post-category">{{ noti.categoria_noticia }}</p>
                                    <h2 class="title" >
                                        {{ noti.titulo }}
                                    </h2>
                                    <div class="d-flex align-items-center">
                                        <img src="{{ noti.autor.profile_picture.url }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                                        <div class="post-meta">
                                            {% comment %} <p class="post-author-list">{{ noti.author }}</p> {% endcomment %}
                                            <p class="post-date">
                                                <time datetime="{{ noti.fecha_de_publicacion }}">{{ noti.fecha_de_publicacion|date:"d F, Y" }}</time>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </a>
                        </div>
                    {% empty %}
                        <p>No se han publicado noticias todavía.</p>
                    {% endfor %}
                </div>
            </div>
        
            <div class="blog-pagination">
                <ul class="justify-content-center">
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                </ul>
              </div><!-- End blog pagination -->
      
            </div>
          </section><!-- End Blog Section -->


{% endblock contenido %}


