{% extends 'base.html' %}
{% load static %}
{% block titulo %} Productos {% endblock titulo %}

{% block estilos %}

{% endblock estilos %}

{% block contenido %}
<section class="section hero">
    <div class="container">
        <h2>Cargar Nuevo Producto</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" class="btn btn-primary">Cargar Producto</button>
        </form>
    </div>
</section>
{% endblock contenido%}
