{% extends 'base.html' %}
{% load static %}
{% block titulo %} Productos {% endblock titulo %}

{% block estilos %}

{% endblock estilos %}

{% block contenido %}
<section class="section hero">
    <div class="container">
        <h2>Cargar Nuevo Producto</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" required>
            </div>
            <div class="form-group">
                <label for="resumen">Resumen:</label>
                <textarea class="form-control" id="resumen" name="resumen" required></textarea>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
            </div>
            <div class="form-group">
                <label for="resumen_2">Resumen_2:</label>
                <textarea class="form-control" id="resumen_2" name="resumen_2" required></textarea>
            </div>
            <div class="form-group">
                <label for="imagen_principal">Imagen:</label>
                <input type="file" class="form-control-file" id="imagen_principal" name="imagen_principal" required>
            </div>
            <div class="form-group">
                <label for="imagen_2">Imagen 2:</label>
                <input type="file" class="form-control-file" id="imagen_2" name="imagen_2" required>
            </div>
            <div class="form-group">
                <label for="imagen_3">Imagen 3:</label>
                <input type="file" class="form-control-file" id="imagen_3" name="imagen_3" required>
            </div>
            <button type="submit" class="btn btn-primary">Cargar Producto</button>
        </form>
    </div>
</section>
{% endblock contenido%}
