{% extends 'base.html' %}
{% load static %}
{% block titulo %} Productos {% endblock titulo %}
{% load i18n %}
{% block estilos %}

{% endblock estilos %}

{% block contenido %}
<section class="section hero">
    <div class="container d-block">
        {% if form.errors %}
        <ul class='p-0' >
            {% for field in form %}
                {% for error in field.errors %}
                    <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}

        <h2>Cargar Nuevo Producto</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
                        {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-primary">Cargar</button>
            <a href="{% url 'admin_panel' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    
</section>
{% endblock contenido%}
