{% extends 'base.html' %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href='{% static "css/productos.css" %}'>
{% endblock estilos %}

{% block contenido %}   
<section class="hero">
    <div class=" ">
<h1>Editar producto</h1>
<div class="container">
<form action="{% url 'editar_producto' producto.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a href="{% url 'detalle_producto' producto.id %}" class="btn btn-secondary">Cancelar</a>
</form>
</div>
</div>
</section>
{% endblock %}
