{% extends 'base.html' %}
{% load static %}
{% block titulo %}Login{% endblock titulo %}
{% block contenido %}
{% load django_bootstrap5 %}
<head>
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>



{% comment %} <div class="contenedor_formulario ">
    <form method="POST">{% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <input type="text" name="username" placeholder="Usuario" id="inputLogin">
        <input type="password" name="password" placeholder="Contraseña" id="inputLogin">
        <button type="submit" style=" margin-left: 50%; padding: 5px 20px;">Login</button>
    </form>
</div> {% endcomment %}

<body>
    <div class="login-dark">
        <form method="POST">{% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}
            <h2 class="sr-only">Login</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Usuario" id="inputLogin"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña" id="inputLogin"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">LogIn</button></div></form>
    </div>
    {% bootstrap_javascript %}
    
</body>
{% endblock contenido %}
