.title{
    font-size: 7rem;
    margin-bottom: 5rem;
    justify-content: center;
    text-align: center;
}
.cottonInfo{
    max-width: 1320px;
    display: flex;
    /*align-items: center;*/
    margin: 0 auto;
}

.card{
    background-color: var(--cultured);
    color: var(--charcoal);
    border: none;
    display: flex;
    /*
    p {
        visibility:collapse;
        opacity: 0;
        transition: visibility 3s,opacity 2s;}*/
}

.card:hover{  
    position: relative;
    height: auto;
    color: white;
    /*
    p {
        visibility: visible;    
        opacity: 1;
        transition: visibility 3s,opacity 2s;
    }*/
}

.cotton{
    max-width: max-content;
    font-size: xxx-large !important;
    margin-bottom: 5rem;
    color: white;
}



h3{
    margin-top: 3rem;
    font-size: xxx-large !important;
    max-width: max-content;
    color: var(--cinnamon-satin);
}
.card-img{
    max-height: 25rem;
    object-fit: contain;
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);
}
.cottonSP, .cottonAC{
    & p{
        color: white;
    }
    & .span_gradient{
        color: white;
        transition: color 1s linear;
        -webkit-text-fill-color:unset;
    }
    & .card{
        
        & img{
            transition: filter 1s linear ; 
            filter: grayscale(100%) drop-shadow(0 0 0rem #778384) blur(10px);
        }
   }
}
.linkcottonAC , .cottonAC_color, .cotton{
    transition: color 1s linear ;
}
.cottonSP:hover{
     
    .card{        
        
        & img{
            filter: grayscale(0%) drop-shadow(0 0 1rem #778384) blur(0px);
        }
    }
    & .cotton{
        color: var(--cinnamon-satin)
    }
    & .span_gradient{
        color: var(--cinnamon-satin);
    }

}

.cottonAC:hover {
    .card{
        & img{
            filter: grayscale(0%) drop-shadow(0 0 1rem #778384) blur(0px);
        }
    }
    & .linkcottonAC{
        color: #2FCBEB;
    }
    & .cottonAC_color{
        color: #2FCBEB;
    }
}
@media (width <= 768px) {
    .cotton{
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 0;
    }
    .cottonInfo{
        display: block;
    }
    .card {
        width: 75%;
    }
    .card p {
        text-align: start;
        visibility: visible;
        opacity: 1;
        text-align: start;
    }
    .card-img{
        filter: none;
    }
    .span_gradient{
        -webkit-text-fill-color: transparent;
    }
    .cottonSP{
        .cotton{
            color: var(--cinnamon-satin)
        }
    }
    .cottonAC{
        .cotton{
            color: #2FCBEB;
        }
    }
    .cottonAC_color{
        color: #2FCBEB;
    }
}


/* CottonAcademy */
/*
.divCotton:hover{
    
    background-color: #292927 !important;
    transition: 3s background-color linear;
}*/

/* .equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: #2FCBEB;
}

.tarjetas {
    display: flex;   
    background-color: aquamarine; 
}

.tarjeta {
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 35%;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    background-color: brown;
}

.tarjetaInfo{
    background-color:black;
} */

#tarjetasCarrusel {
    overflow: hidden;
    width: 100%;
  }
  
  .tarjetas-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .tarjeta {
    flex: 0 0 45%;
    box-sizing: border-box;
    margin: 0 2.5%;
    border: 1px solid #180505;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(151, 94, 25);
  }
  
  .tarjeta img {
    width: 100%;
    height: auto;
  }
  
  .tarjeta .contenido {
    padding: 20px;
  }

  .boxBTN {
    display: flex;
    justify-content:space-around;
    width: 100%;
  }

  .btnCarousel{
    display: flex;
    width: 50%;
  }

  .siguiente {
    color: white;
    width: 50%;
    margin: 1em;
    border: 1px solid white;
  }

  .anterior {
    color: white;
    width: 50%;
    margin: 1em;
    border: 1px solid white;
  }
