.cottonInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:space-around;
}

.card{
    background-color: var(--cultured);
    color: var(--charcoal);
    max-width: 1320px;
    border: none;
    display: flex;
    width: 50%;
    flex-direction: column;
    text-align: center;
    transition: all 1s ease;
    p {display: none;}
}

.card:hover{
    transition: all 1s ease;
    position: relative;
    height: auto;
    color: white;
    padding: 1em;
    p {display: block;}
}

.cotton{
    color: var(--charcoal);
    max-width: max-content;
    font-size: xxx-large !important;
    margin-bottom: 5rem;
}
.cotton:hover{
    color: var(--cinnamon-satin)
}

h3{
    margin-top: 3rem;
    font-size: xxx-large !important;
    max-width: max-content;
    color: var(--cinnamon-satin);
}
.card-img{
    max-height: 25rem;
    object-fit: contain;
}
@media (width <= 768px) {
    .cotton{
        text-align: center;
    }
}


/* CottonAcademy */
.cottonAC{
    color: var(--charcoal);
    max-width: max-content;
    font-size: xxx-large !important;
    margin-bottom: 2rem;
}

.cottonAC:hover{
    color: #2FCBEB;
}

.cottonAC_color{
    color: #2FCBEB;
}

