.card{
    background-color: var(--cultured);
    color: var(--charcoal);
    max-width: 1320px;
    border: none;
}
.cotton{
    color: var(--charcoal);
    max-width: max-content;
    font-size: xxx-large !important;
    margin-bottom: 5rem;
}
.cotton:hover{
    color: var(--cinnamon-satin)
}

h3{
    margin-top: 3rem;
    font-size: xxx-large !important;
    max-width: max-content;
    color: var(--cinnamon-satin);
}
.card-img{
    max-height: 25rem;
    object-fit: contain;
}
@media (width <= 768px) {
    .cotton{
        text-align: center;
    }
}


/* CottonAcademy */
.cottonAC{
    color: var(--charcoal);
    max-width: max-content;
    font-size: xxx-large !important;
    margin-bottom: 2rem;
}

.cottonAC:hover{
    color: #2FCBEB;
}

.cottonAC_color{
    color: #2FCBEB;
}

