
/* Colors */
:root {
  --color-default: #222222;
  --color-primary: rgb(181, 210, 168);
  --color-secondary: #f85a40;
  --content-after:'/';
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

body{
  text-decoration: none;
  background-color: var(--color-default);
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs .page-header {
  padding: 210px 0 60px 0 !important;
  min-height: 20vh;
  position: relative;

}

.breadcrumbs .page-header h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;

}

.breadcrumbs .page-header p {
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs nav {
  background-color: #f6f6f6;
  padding: 20px 0;
}

.breadcrumbs  ol {
  background-color: #292927;
  position: fixed;
  margin: 0;
  border-radius: 1rem;
  padding: 2rem;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-default);
  animation: showcomment 1s ease forwards ;
  bottom: 5rem;
}
#btn-categoria{
  cursor: pointer;
}
.svg-cat{
  display: none;
}
.breadcrumbs  ol li{
  color: wheat;

}
.breadcrumbs  ol li span::after{
  content: var(--content-after);
  
}
.breadcrumbs  ol a {
  padding-left: 1rem;
  margin-top: 4rem;
  color: var(--color-primary);
  transition: 0.3s;
  font-weight: 700;
}

.breadcrumbs  ol a:hover {
  color:#a07cc5 ;
} 
.select{
  color: #a07cc5 !important;
  padding: 0 1.5rem;
  background: #222;
  border-radius: 1rem;
  margin-left: 1rem;
  width: fit-content;
}
.select::before{
  content: '@';
}
.breadcrumbs nav ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: var(--color-secondary);
  content: "/";
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.btn-get-started {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 15px;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  background: var(--color-primary) !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1)
}

.cateogoria{
  margin-left: 10px !important;
}

a.btn-get-started {
  text-decoration: none;
}

.btn-get-started:hover {
  border-color: rgba(255, 255, 255, 0.5);
  
}

.d-flex {
  align-items: center;
}
.buttons{
  align-items: center;
}

.submenu .ml-2 a {
  color: var(--color-primary);
  text-decoration: none;
}


.blog .blog-pagination {
  margin-top: 30px;
  color: #555555;
}

.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
  border-radius: 10px;
}

.blog .blog-pagination li a {
  color: var(--color-default);
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: var(--color-primary);
  color: #fff;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: var(--color-white);
}

/*--------------------------------------------------------------
# Blog Posts List
--------------------------------------------------------------*/
.blog .posts-list article {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}


.blog .posts-list .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}

.blog .posts-list .post-category {
  font-size: 16px;
  color: #555555;
  margin-bottom: 10px;
}

.blog .posts-list .title {
  font-size: 22px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}

.blog .posts-list .title a {
  color: var(--color-primary) !important;
  transition: 0.3s;;
}

.blog .posts-list .title a:hover {
  color: var(--color-secondary) !important;
}

.blog .posts-list .post-author-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.blog .posts-list .post-author-list {
  font-weight: 600;
  margin-bottom: 5px;
}

.blog .posts-list .post-date {
  font-size: 14px;
  color: #3c3c3c;
  margin-bottom: 0;
}

.mi-clase .enlaces a {
  color: var(--color-primary) ;
}

.movi a {
  margin-right: 10px !important;
  color: var(--color-primary);
}

.movi a:hover {
  color: aquamarine !important;
}



h2.title{
  color: var(--color-primary, black);
  overflow: hidden !important;
  line-height: -35px;
}

h2.title:hover{
  color: #03ab97;
}
@keyframes showcomment {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@media (width <= 1200px) {
  .breadcrumbs ol{
    display: flex;
    position: relative;
    height: auto;
    
    & #categorias{
      display: flex ;
      flex-wrap: wrap;
      margin-left: 1rem;
    } 
    & a{
      margin-top: 0;
      padding: 0 1rem ;
    }
    & .select{
      width: fit-content;
      margin: 0 1rem;
    }
  }
  .svg-cat{
    display: block;
  }
}
@media (width <= 576px) {
  .breadcrumbs ol{
    display: block ;
    position: relative;
    margin-bottom: 2rem;
    & #categorias{
      display: block;
    }
    & a{
      padding:  1rem 0;
    }
    & .select{
      padding: 0 1rem;
    }
  }
}
@media (height <= 850px){
  .breadcrumbs  ol {
    position: relative;
    width: 75%;
    margin: auto;
  }
  .breadcrumbs #categorias{
    display: flex;
    margin-left: 0;
    & a{
      margin-top: 1rem;
      
    }
  }
  
}