{% load static %}
<section class="section hero">
  <h3 class="mx-auto d-flex text-center mt-1">Nuestro Equipo</h3>
  <div id="tarjetasCarrusel">

    <div class="tarjetas-wrapper">

      <!-- Tarjeta 1 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/PerfilDefault.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Lucas Alfonsin</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/in/lucas-alfonsin-developer/" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/BogadoNahuel.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/DO.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/BD.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Nahuel Bogado</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 3 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/BufaliniCristian.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/BD.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Cristian Bufalini</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://ar.linkedin.com/in/cristian-bufalini" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/ElizondoLuca.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Lucas Elizondo</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/in/lucaelizondo" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 5 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/FogarEze.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Eze Fogar</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/in/ezenicofogar/" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 6 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/HernandezSoledad.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/RRHH.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/UIUX.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/AC.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Soledad Hernandez</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 7 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/InglantMatias.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Matias Inglant</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/in/matias-inglant/" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 8 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/NavarroJulian.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Julian Navarro</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 9 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/NazarenmoRolon.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Rolon Nazarenmo</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/in/carlos-nazareno-rolon-543a98208/" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>
      
      <!-- Tarjeta 10 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/ValeroIvan.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/JS.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/SM.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/UIUX.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Ivan Valero</h1>
            <p>Desarrollador Full-Stack</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://www.linkedin.com/" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>

      <!-- Tarjeta 11 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/VillalbaJuan.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/MK.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>Juan Villalba</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <a href="https://ar.linkedin.com/in/juan-carlos-villalba-070259173" target="_blank" title="Linkedin"><img src="{% static 'img/IN.png' %}" alt=""></a>
          </div>
        </div>
      </div>
  
      <!-- Agrega más tarjetas según sea necesario -->
    </div>
    <div class="boxBTN">
      <div class="btnCarousel">
        <button class="anterior" onclick="anteriorTarjeta()">
          <img src="{% static 'img/btnAnt.png' %}" alt="ant">
        </button>
        <button class="siguiente" onclick="siguienteTarjeta()">
          <img src="{% static 'img/btnSig.png' %}" alt="seg">
        </button>
      </div>
      
    </div>
  </div>
  
</section>