{% load static %}
<section class="section hero">
  <h3 class="mx-auto d-flex text-center mt-1">Nuestro Equipo</h3>
  <div id="tarjetasCarrusel">
    <div class="tarjetas-wrapper">
      <!-- Tarjeta 1 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/PerfilDefault.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/RRHH.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>NOMBRE</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <p>Botones de Redes</p>
          </div>
        </div>
      </div>
  
      <!-- Tarjeta 2 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/PerfilDefault.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>NOMBRE</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <p>Botones de Redes</p>
          </div>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/PerfilDefault.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>NOMBRE</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <p>Botones de Redes</p>
          </div>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/PerfilDefault.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>NOMBRE</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <p>Botones de Redes</p>
          </div>
        </div>
      </div>

      <!-- Tarjeta 5 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/PerfilDefault.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>NOMBRE</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <p>Botones de Redes</p>
          </div>
        </div>
      </div>

      <!-- Tarjeta 6 -->
      <div class="tarjeta">
        <div class="tarjetaImg">
          <img src="{% static 'img/equipo/PerfilDefault.png' %}" alt="Imagen 1">
        </div>
        <div class="contenido">
          <div class="tarjetaAreas">
            <img src="{% static 'img/areas/PY.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/HTML.png' %}" alt="Imagen 1">
            <img src="{% static 'img/areas/CSS.png' %}" alt="Imagen 1">
          </div>
          <div class="tarjetaInfo">
            <h1>NOMBRE</h1>
            <p>Titulo</p>
          </div>
          <div class="tarjetaRedes">
            <p>Botones de Redes</p>
          </div>
        </div>
      </div>
  
      <!-- Agrega más tarjetas según sea necesario -->
    </div>
    <div class="boxBTN">
    <div class="btnCarousel">
      <button class="anterior">Anterior</button>
      <button class="siguiente">siguiente</button>
    </div>
  </div>
  </div>
  
</section>