{% extends 'base.html' %}
{% load static %}
{% block contenido %}   

<head>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<main>
  {% if mensaje %}
    <div class="position-absolute end-0 alert  alert-dismissible fade show col-12 col-sm-4 text-dark" role="alert" style='z-index:4;background-color:#A0CC00;top: 15rem;'>
      <p>{{ mensaje }}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <article>

    <!-- 
      - #HERO
    -->

    <section class="section hero" aria-label="home">
      <div class="container">

        <figure class="hero-banner">
          <img src="{% static 'img/hero-banner.jpg' %}" width="560" height="540" alt="Julia" class="w-102 col-12 col-md-8 col-xl-10 mx-sm-auto"
            data-reveal="top">
          
        </figure>

        <div class="hero-content">

          <h1 class="h1 hero-title" data-reveal="top" data-reveal-delay="0.5s">
            Creamos software para <span class="potenciar" style="display: inline-block">potenciar</span> tu negocio.
          </h1>

          <p class="section-text" data-reveal="top" data-reveal-delay="0.75s">
            Transformamos tus ideas en soluciones digitales innovadoras y escalables.
          </p>

          <div class="btn-wrapper" data-reveal="top" data-reveal-delay="1s">
            <a href="#" class="btn btn-primary">Proyectos</a>

            <a href="#contacto" class="btn btn-secondary">Contactanos</a>
          </div>

        </div>

      </div>
    </section>





    <!-- 
      - #ABOUT
    -->

    <section class="section about" aria-label="about">
      <div class="container">

        <div class="wrapper">

          <div data-reveal="left">
            <h2 class="h2 section-title">¿Qué ofrecemos?</h2>

            <p class="section-text">
              En CottonSP, nuestra pasión es convertir tus ideas en soluciones digitales innovadoras y escalables.
              Para ello, te ofrecemos una amplia gama de servicios de desarrollo
              de software que se adaptan a las necesidades específicas de tu negocio.
            </p>
          </div>

          <ul class="progress-list" data-reveal="right">

            <li class="progress-item">

              <div class="label-wrapper">
                <p>Web Design</p>

                <span class="span">100 %</span>
              </div>

              <div class="progress">
                <div class="progress-fill" style="width: 100%; background-color: #c7b1dd"></div>
              </div>

            </li>

            <li class="progress-item">

              <div class="label-wrapper">
                <p>Mobile Design</p>

                <span class="span">80 %</span>
              </div>

              <div class="progress">
                <div class="progress-fill" style="width: 80%; background-color: #8caeec"></div>
              </div>

            </li>

            <li class="progress-item">

              <div class="label-wrapper">
                <p>Development</p>

                <span class="span">85 %</span>
              </div>

              <div class="progress">
                <div class="progress-fill" style="width: 85%; background-color: #b0d4c1"></div>
              </div>

            </li>

            <li class="progress-item">

              <div class="label-wrapper">
                <p>SEO</p>

                <span class="span">90 %</span>
              </div>

              <div class="progress">
                <div class="progress-fill" style="width: 90%; background-color: #e3a6b6"></div>
              </div>

            </li>

          </ul>

        </div>

        <ul class="grid-list">

          <li data-reveal="bottom">
            <div class="about-card">

              <div class="card-icon">
                <img src="{% static 'img/icon-1.svg' %}" width="52" height="52" loading="lazy" alt="web design icon">
              </div>

              <h3 class="h4 card-title">Desarrollo de aplicaciones web</h3>

              <p class="card-text">
                Diseñamos y desarrollamos aplicaciones web personalizadas que se ajustan a las necesidades específicas de tu negocio.
              </p>

            </div>
          </li>

          <li data-reveal="bottom" data-reveal-delay="0.25s">
            <div class="about-card">

              <div class="card-icon">
                <img src="{% static 'img/icon-2.svg' %}" width="52" height="52" loading="lazy" alt="mobile design icon">
              </div>

              <h3 class="h4 card-title">
                Desarrollo de Aplicaciones Móviles</h3>

              <p class="card-text">
                Desarrollamos aplicaciones móviles nativas para iOS y Android con un diseño atractivo y una experiencia de usuario fluida.
              </p>

            </div>
          </li>

          <li data-reveal="bottom" data-reveal-delay="0.5s">
            <div class="about-card">

              <div class="card-icon">
                <img src="{% static 'img/icon-3.svg' %}" width="52" height="52" loading="lazy"
                  alt="web development icon">
              </div>

              <h3 class="h4 card-title">Software a medida</h3>

              <p class="card-text">
                Más allá de simples programas, diseñamos herramientas digitales innovadoras que se ajustan a las necesidades específicas de tu empresa
              </p>

            </div>
          </li>

          <li data-reveal="bottom" data-reveal-delay="0.75s">
            <div class="about-card">

              <div class="card-icon">
                <img src="{% static 'img/icon-4.svg' %}" width="52" height="52" loading="lazy" alt="web seo icon">
              </div>

              <h3 class="h4 card-title">Actualizacion</h3>

              <p class="card-text">
                Comprendemos que las migraciones y actualizaciones de sistemas pueden ser un proceso complejo y desafiante. Por ello, te ofrecemos un servicio integral que te permite navegar el cambio con confianza y minimizar la disrupción en tu negocio.
              </p>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
      - #PROJECT
    -->

    <section class="section project" aria-labelledby="project-label">
      <div class="container">

        <div class="title-wrapper" data-reveal="top">

          <div>
            <h2 class="h2 section-title" id="project-label">Latest Projects</h2>

            <p class="section-text">
              Check out some of my latest projects with creative ideas.
            </p>
          </div>

          <a href="#" class="btn btn-secondary d-flex mx-auto d-md-block mx-md-0">See All Projects</a>

        </div>

        <ul class="grid-list">

          <li>
            <div class="project-card project-card-1" style="background-color: #222222">

              <div class="card-content" data-reveal="left">

                <p class="card-tag" style="color: #a07cc5">Web Design</p>

                <h3 class="h3 card-title">Snowlake Theme</h3>

                <p class="card-text">
                  Maecenas faucibus mollis interdum sed posuere consectetur est at lobortis. Scelerisque id ligula
                  porta felis euismod semper. Fusce dapibus tellus cursus.
                </p>

                <a href="#" class="btn-text" style="color: #a07cc5">
                  <span class="span">See Project</span>

                  <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>

              </div>

              <figure class="card-banner" data-reveal="right">
                <img src="{% static 'img/project-1.png' %}" width="650" height="370" loading="lazy" alt="Web Design"
                  class="w-100">
              </figure>

            </div>
          </li>

          <li>
            <div class="project-card project-card-2" style="background-color: #222222">

              <div class="card-content" data-reveal="right">

                <p class=" card-tag" style="color: #3f78e0">Mobile Design</p>

                <h3 class="h3 card-title">Budget App</h3>

                <p class="card-text">
                  Maecenas faucibus mollis interdum sed posuere consectetur est at lobortis. Scelerisque id ligula
                  porta felis euismod semper. Fusce dapibus tellus cursus.
                </p>

                <a href="#" class="btn-text" style="color: #3f78e0">
                  <span class="span">See Project</span>

                  <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>

              </div>

              <figure class="card-banner" data-reveal="left">
                <img src="{% static 'img/project-2.png' %}" width="600" height="367" loading="lazy" alt="Web Design"
                  class="w-100">
              </figure>

            </div>
          </li>

          <li>
            <div class="project-card project-card-3" style="background-color: #222222">

              <div class="card-content" data-reveal="left">

                <p class=" card-tag" style="color: #7cb798">Web Design</p>

                <h3 class="h3 card-title">Missio Theme</h3>

                <p class="card-text">
                  Maecenas faucibus mollis interdum sed posuere porta consectetur cursus porta lobortis. Scelerisque
                  id ligula felis.
                </p>

                <a href="#" class="btn-text" style="color: #7cb798">
                  <span class="span">See Project</span>

                  <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>

              </div>

              <figure class="card-banner" data-reveal="right">
                <img src="{% static 'img/project-3.png' %}" width="600" height="367" loading="lazy" alt="Web Design"
                  class="w-100">
              </figure>

            </div>
          </li>

          <li>
            <div class="project-card project-card-4" style="background-color: #222222">

              <div class="card-content" data-reveal="left">

                <p class=" card-tag" style="color: #d16b86">Mobile Design</p>

                <h3 class="h3 card-title">Storage App</h3>

                <p class="card-text">
                  Maecenas faucibus mollis interdum sed posuere consectetur est at lobortis. Scelerisque id ligula
                  porta felis euismod semper.
                </p>

                <a href="#" class="btn-text" style="color: #d16b86">
                  <span class="span">See Project</span>

                  <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>

              </div>

              <figure class="card-banner" data-reveal="right">
                <img src="{% static 'img/project-4.png' %}" width="620" height="370" loading="lazy" alt="Mobile Design"
                  class="w-100">
              </figure>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
      - #CONTACT
    -->

    <section class="section contact" aria-label="contact">
      <div class="container">

        <div class="contact-card">

          <div class="contact-content" data-reveal="left">

            <div class="card-icon">
              <img src="{% static 'img/icon-5.svg' %}" width="44" height="44" loading="lazy" alt="envelop icon">
            </div>

            <h2 class="h2 section-title">Contactate con nosotros</h2>

            <p class="section-text">
              I bring rapid solutions to make the life of my clients easier. Have any questions? Reach out to me from
              this contact form and I will get back to you shortly.
            </p>

          </div>
         
          <form action="" method='POST' id='contacto' class="contact-form" data-reveal="right"> 
            {% csrf_token %}
            {% for items in form  %}
              {% if forloop.first %}
                <div class="input-wrapper">
                {{ items }}
              {% elif forloop.counter == 2 %}
                  {{ items }}
                  </div>
              {% else %}
                  {{items}}
              {% endif %}
            {% endfor %}            
            <!--

            <div class="input-wrapper">
              <input type="text" name="name" placeholder="Name *" required class="input-field">

              <input type="email" name="email_address" placeholder="Email *" required class="input-field">
            </div>

            <textarea name="message" placeholder="Message *" required class="input-field"></textarea>
            -->
            <button type="submit" class="btn btn-secondary">Send message</button>
            
          </form>
          
        </div>

      </div>
    </section>

  </article>
</main>

{% endblock contenido %}



