{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block contenido %}   

<main>
  {% if mensaje %}
    <div class="position-absolute end-0 alert  alert-dismissible fade show col-12 col-sm-4 text-dark" role="alert" style='z-index:4;background-color:#A0CC00;top: 15rem;'>
      <p>{{ mensaje }}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <article>

    <!-- 
      - #HERO
    -->

    <section class="section hero" aria-label="home">
      <div class="container">

        <figure class="hero-banner">
          <img src="{% static 'img/hero-banner.jpg' %}" width="560" height="540" alt="CottonSP" class="w-102 col-12 col-md-8 col-xl-10 mx-sm-auto"
            data-reveal="top" loading="lazy">
          
        </figure>

        <div class="hero-content">

          <h1 class="h1 hero-title" data-reveal="top" data-reveal-delay="0.5s">
            {% trans "Creamos software para " %}<span class="span_gradient" style="display: inline-block">{% trans "potenciar" %}</span>{% trans " tu negocio." %}
          </h1>

          <p class="section-text" data-reveal="top" data-reveal-delay="0.75s">
            {% trans "Transformamos tus ideas en soluciones digitales innovadoras y escalables." %}
          </p>

          <div class="btn-wrapper" data-reveal="top" data-reveal-delay="1s">
            <a href="{% url 'lista_productos' %}" class="btn btn-primary">{% trans "Nuestros Productos" %}</a>

            <a href="#contacto" class="btn btn-secondary">{% trans "Contactanos" %}</a>
          </div>

        </div>

      </div>
    </section>





    <!-- 
      - #ABOUT
    -->

    <section class="section about" aria-label="about">
      <div class="container">

        <div class="wrapper">

          <div data-reveal="left">
            <h2 class="h2 section-title">{% trans "¿Qué ofrecemos?" %}</h2>

            <p class="section-text">
              {% trans "En CottonSP, nuestra pasión es convertir tus ideas en soluciones digitales innovadoras y escalables. Para ello, te ofrecemos una amplia gama de servicios de desarrollo de software que se adaptan a las necesidades específicas de tu negocio." %}
            </p>
          </div>

          <div class="cont">
            <div class="loader"></div>
            <div class="loader"></div>
            <div class="loader"></div>
          </div>
          

        </div>

        <ul class="grid-list">

          <li data-reveal="bottom">
            <div class="about-card">

              <div class="card-icon col-4 col-md-12">
                <img src="{% static 'img/icon-1.svg' %}" width="52" height="52" loading="lazy" alt="web design icon" loading="lazy">
              </div>

              <h3 class="h4 card-title col-8 col-md-12">{% trans "Desarrollo de aplicaciones web" %}</h3>

              <p class="card-text">
                {% trans "Diseñamos y desarrollamos aplicaciones web personalizadas que se ajustan a las necesidades específicas de tu negocio." %}
              </p>

            </div>
          </li>

          <li data-reveal="bottom" data-reveal-delay="0.25s">
            <div class="about-card">

              <div class="card-icon col-4 col-md-12">
                <img src="{% static 'img/icon-2.svg' %}" width="52" height="52" loading="lazy" alt="mobile design icon" loading="lazy">
              </div>

              <h3 class="h4 card-title col-8 col-md-12">
                {% trans "Desarrollo de Aplicaciones Móviles" %}</h3>

              <p class="card-text">
                {% trans "Desarrollamos aplicaciones móviles nativas para iOS y Android con un diseño atractivo y una experiencia de usuario fluida." %}
              </p>

            </div>
          </li>

          <li data-reveal="bottom" data-reveal-delay="0.5s">
            <div class="about-card">

              <div class="card-icon col-4 col-md-12">
                <img src="{% static 'img/icon-3.svg' %}" width="52" height="52" loading="lazy"
                  alt="web development icon">
              </div>

              <h3 class="h4 card-title col-8 col-md-12">{% trans "Software a medida" %}</h3>

              <p class="card-text">
                {% trans "Más allá de simples programas, diseñamos herramientas digitales innovadoras que se ajustan a las necesidades específicas de tu empresa" %}
              </p>

            </div>
          </li>

          <li data-reveal="bottom" data-reveal-delay="0.75s">
            <div class="about-card">

              <div class="card-icon col-4 col-md-12">
                <img src="{% static 'img/icon-4.svg' %}" width="52" height="52" loading="lazy" alt="web seo icon">
              </div>

              <h3 class="h4 card-title col-8 col-md-12">{% trans "Actualizacion" %}</h3>

              <p class="card-text">
                {% trans "Comprendemos que las migraciones y actualizaciones de sistemas pueden ser un proceso complejo y desafiante. Por ello, te ofrecemos un servicio integral que te permite navegar el cambio con confianza y minimizar la disrupción en tu negocio." %}
              </p>

            </div>
          </li>

        </ul>

      </div>

    </section>
    <h3 class='fw-bold text-center mb-5 text-white' style="font-size:4rem;">{% trans "Empresas con las cual Trabajamos" %}</h3>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="{% static "img/cifal.jpg" %}" height="100" width="250" alt="" loading="lazy" />
        </div>
        <div class="slide">
          <img src="{% static "img/IBM_logo.svg.png" %}" height="100" width="250" alt="" loading="lazy"/>
        </div>
        <div class="slide">
          <img src="{% static "img/hsbc.png" %}" height="100" width="250" alt="" loading="lazy"/>
        </div>
        
        <div class="slide">
          <img src="{% static "img/cifal.jpg" %}" height="100" width="250" alt="" loading="lazy"/>
        </div>
        <div class="slide">
          <img src="{% static "img/innova.png" %}" height="100" width="250" alt="" loading="lazy"/>
        </div>
        <div class="slide">
          <img src="{% static "img/IBM_logo.svg.png" %}" height="100" width="250" alt="" loading="lazy"/>
        </div>
        <div class="slide">
          <img src="{% static "img/hsbc.png" %}" height="100" width="250" alt="" loading="lazy"/>
        </div>
        
      </div>
    </div>

    <section class="section contact" aria-label="contact">
      <div class="container">

        <div class="contact-card">

          <div class="contact-content" data-reveal="left">

            <div class="card-icon">
              <img src="{% static 'img/icon-5.svg' %}" width="44" height="44" loading="lazy" alt="envelop icon" loading="lazy">
            </div>

            <h2 class="h2 section-title">{% trans "Contactate con nosotros" %}</h2>

            <p class="section-text">
              {% trans "Aportamos soluciones rápidas para hacer la vida de los clientes mas facil. ¿Tiene alguna pregunta? Comuníquese con nosotros desde este formulario de contacto y nos comunicaremos con usted en la brevedad." %}
            </p>

          </div>
         
          <form action="" method='POST' id='contacto' class="contact-form" data-reveal="right"> 
            {% csrf_token %}
            {% for items in form  %}
              {% if forloop.first %}
                <div class="input-wrapper">
                {{ items }}
              {% elif forloop.counter == 2 %}
                  {{ items }}
                  </div>
              {% else %}
                  {{items}}
              {% endif %}
            {% endfor %}            
            <!--

            <div class="input-wrapper">
              <input type="text" name="name" placeholder="Name *" required class="input-field">

              <input type="email" name="email_address" placeholder="Email *" required class="input-field">
            </div>

            <textarea name="message" placeholder="Message *" required class="input-field"></textarea>
            -->
            <button type="submit" class="btn btn-secondary">{% trans "Enviar" %}</button>
            
          </form>
          
        </div>

      </div>
    </section>

  </article>
</main>

{% endblock contenido %}



