{% extends 'base.html' %}
{% load static %}
{% block titulo %} Quienes Somos {% endblock titulo %}
{% block estilos %}
<link rel="stylesheet" href='{% static "css/about.css" %}'>

{% endblock estilos %}

{% block contenido %}
    <section class="section hero">
      <div class="cottonInfo">
        
        <div class="card  mx-auto" >
          <h1 class="mx-auto d-flex cotton">¿Quienes Somos?</h1>
            <div >
              <div >
                <img src="{% static 'img/hero-banner.jpg' %}" class="card-img" alt="...">
              </div>
              <div >
                <div >                  
                  <p class="card-text fw-semibold"><span class="span_gradient" style="display: inline-block">Cotton SP</span> es una marca que se enfoca en desarrollar 
                    <span class="span_gradient" style="display: inline-block"> soluciones de software de alta calidad </span> e innovadoras de manera sostenible, 
                    con el propósito de mejorar la <span class="span_gradient" style="display: inline-block">calidad de vida y contribuir al bienestar social.</span>
                    <br>
                    La propuesta de valor única de Cotton SP se basa en su enfoque en habilidades blandas, 
                    metodologías ágiles y objetivos de desarrollo sostenible, así como en su compromiso con la responsabilidad social. 
                    También se diferencian de la competencia por su enfoque en la 
                    <span class="span_gradient" style="display: inline-block">flexibilidad y la adaptabilidad</span>. 
                    Permitiéndo ofrecer soluciones personalizadas y ajustadas a las necesidades específicas de cada cliente.                
                    </p>
                </div>
              </div>
            </div>
          </div>

          
        <div class="card  mx-auto" >
          <h1 class="mx-auto d-flex cottonAC">
            <a class="cottonAC" href="https://www.cottonacademy.com/">Cotton Academy</a>
          </h1 >
            <div>
              <div>
                <a href="https://www.cottonacademy.com/">
                    <img src="{% static 'img/CottonAcademy.svg' %}" class="card-img" alt="...">
                  </a>
              </div>
              <div>
                <div class="card-body m-0 p-0">                  
                  <p class="card-text fw-semibold"><span class="cottonAC_color" style="display: inline-block">En Cotton Academy</span>, 
                    nos apasiona impulsar el talento y la innovación desde sus raíces. Como parte del programa Innova, nos dedicamos a 
                    formar a individuos desde cero, brindándoles las habilidades necesarias para triunfar en el exigente mundo laboral de hoy.
                    <br>
                    Nuestro bootcamp no se trata solo de aprender a programar, sino de aprender a pensar de manera crítica y creativa. 
                    En <span class="cottonAC_color" style="display: inline-block">Cotton Academy</span>, 
                    cada línea de código que escribimos es una oportunidad para desarrollar habilidades analíticas y resolver problemas de 
                    manera eficiente.               
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    


    <section>
        <h3 class="mx-auto d-flex text-center">Nuestro Equipo</h3>
        <div class=" row w-75 mx-auto justify-content-around">            
            <div class=" card col-md-3 bg-transparent border-0 m-2">
                <img src="{% static 'img/equipo/lucas.jpg' %}"
                    class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="..." height="540px" width="540px" >
                <div class="card-body">
                    <h5 class="card-title">NOMBRE</h5>
                    <p class="card-text">Desarrollador Full Stack. Actualmente trabajando en
                        Desarrollo de Software</p>
                    <div class="text-center">
                        <a href="" class="btn btn-primary"><img
                                src="{% static 'img/linkedin.svg' %}" alt=""> </a>                        
                    </div>
                </div>
            </div>
            <div class=" card col-md-3 bg-transparent border-0 m-2">
                <img src="{% static 'img/equipo/' %}"
                    class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="..." height="540px" width="540px" >
                <div class="card-body">
                    <h5 class="card-title">NOMBRE</h5>
                    <p class="card-text">Desarrollador Full Stack. Actualmente trabajando en
                        Desarrollo de Software</p>
                    <div class="text-center">
                        <a href="" class="btn btn-primary"><img
                                src="{% static 'img/linkedin.svg' %}" alt=""> </a>                        
                    </div>
                </div>
            </div>
            <div class=" card col-md-3 bg-transparent border-0 m-2">
                <img src="{% static 'img/equipo/' %}"
                    class="object-fit-cover card-img-top img-fluid rounded-circle bg-secondary" alt="..." height="540px" width="540px" >
                <div class="card-body">
                    <h5 class="card-title">NOMBRE</h5>
                    <p class="card-text">Desarrollador Full Stack. Actualmente trabajando en
                        Desarrollo de Software</p>
                    <div class="text-center">
                        <a href="" class="btn btn-primary"><img
                                src="{% static 'img/linkedin.svg' %}" alt=""> </a>                        
                    </div>
                </div>
            </div>            
        </div>
        
    </section>
{% endblock contenido %}